keycloak:
  admin-api-url: https://common-logon-dev.hlth.gov.bc.ca/auth/admin/realms/moh_applications
  base-oauth-url: https://common-logon-dev.hlth.gov.bc.ca/auth/realms/moh_applications
user-management-client:
  roles:
    view-clients: view-clients
    view-metrics: view-metrics
    view-groups: view-groups
    view-users: view-users
    view-events: view-events
    manage-user-details: manage-user-details
    manage-user-roles: manage-user-roles
    manage-user-groups: manage-user-groups
    create-user: create-user
config:
  # vanity-hostname: Sets the HTTP "Location" header for the service.
  vanity-hostname: "http://localhost:${server.port}"
  # CORS header, should be the User Management Console:
  allowed-origins: "http://localhost:8080"
spring:
  datasource:
    url: ${keycloak_db_url}
    username: ${keycloak_db_username}
    password: ${keycloak.db-password}
    driver-class-name: oracle.jdbc.OracleDriver
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${keycloak.base-oauth-url}
          jwk-set-uri: ${keycloak.base-oauth-url}/protocol/openid-connect/certs
      client:
        registration:
          keycloak:
            client-id: USER-MANAGEMENT-SERVICE
            client-secret: ${UMS_CLIENT_SECRET}
            authorization-grant-type: client_credentials
            scope:
              - openid
        provider:
          keycloak:
            authorization-url: ${keycloak.base-oauth-url}/protocol/openid-connect/auth
            token-uri: ${keycloak.base-oauth-url}/protocol/openid-connect/token
jasypt:
    encryptor:
        password: ${ums_encryptor_password}
springdoc:
  swagger-ui:
    path: /docs/swagger-ui.html
  api-docs:
    path: /docs/api-docs
server:
  port: 9090
# If you need to test SSL locally, use settings like this.
# The key will need to be installed in your browser truststore.
#  ssl:
#    key-store: classpath:localhost.p12
#    key-store-password: password
#    key-store-type: pkcs12
#    key-alias: localhost
#    key-password: password
#logging:
#  level:
#    KC_WEB_CLIENT: DEBUG
#    LOAD_TEST: DEBUG
#    org.apache.coyote.http11.Http11InputBuffer: DEBUG
#    root: DEBUG
